/* typhography and images */
* {
  font-family: 'Source Sans Pro', sans-serif;
}
.c-top h1 {
  color: white;
  margin-left: 30px;
  margin-top: 30px;
}
.c-middle h1,.c-down h1 {
  margin-top: 100px;
}
.c-middown h1 {
  color: white;
  margin-left: 30px;
  margin-top: 50px;
}
.c-top h3 {
  color: #5a8ebf;
  margin-left: 30px;
  font-weight: 200;
}
.r-mid h2 {
  color: #4474c5;
  font-size: 20px;
  font-weight: 900;
}
.r-icons p {
  color: white;
  font-size: 11px;
  margin-top: 15px;
}
.c-middle p,.c-down p {
  color: #a9b2bd;
  font-size: 15px;
  margin-top: 15px;
}
.c-middown p {
  color: #5a8ebf;
  font-size: 25px;
  margin-top: 15px;
  font-weight: 200;
}
.r-tri h3 {
  color: white;
  font-size: 25px;
  margin-top: 55px;
  font-weight: 400;
}
.r-tri p {
  color: #5a8ebf;
  font-size: 17px;
  margin-top: 25px;
  margin-bottom: 100px;
  font-weight: 400;
}
.r-fot p {
  color: #4a7ab6;
  margin-top: 40px;
  margin-bottom: 0;
}
.r-fotdown p {
  color: white;
  margin-bottom: 0;
}
.r-tri img {
  width: 60%;
  margin-top: 30px;
}
/* -------div and containers---------- */
.col-blue {
  background: #0f386d;
}
.r-top {
  padding-top: 60px;
}
#rmid-sx {
  margin-top: 100px;
}
#rmid-dx {
  margin-top: 180px;
}
.r-icons {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 50px;
  opacity: .3;
}
.i-phone {
  max-width: 50px;
}
.m-ac {
  max-width: 100px;
}
.r-icons:hover {
  opacity: .99;
}
.r-icons .i-phone {
  width: 60%;
}
.r-icons .m-ac {
  width: 90%;
}
.cl-ock {
padding-top: 30px;
max-width: 150px;
}
.foto-dx {
  width: 90%;
}
.r-mid {
  margin-top: 80px;
}
.col-lightblue {
  background: #2a4b77;
}
.r-fot, .r-fotdown {
  margin-left: 100px;
}
.f-ooter {
  background: #113462;
  padding-bottom: 30px;
}
/* media query per modifica font-size e dimensioni bottoni */
@media (max-width: 576px) {
  #rmid-sx {
    margin-top: 10px;
  }
  #rmid-dx {
    margin-top: 10px;
  }
  .r-mid {
    margin-top: 10px;
  }
  .c-middle h1 {
    font-size: 28px;
    margin-top: 20px;
  }
  .c-middown h1 {
    font-size: 28px;
    margin: 0;
    margin-top: 30px;
  }
  .c-down h1 {
    margin-top: 20px;
  }
  .r-tri p {
    margin-bottom: 40px;
  }
  .r-fot, .r-fotdown{
    margin: 0;
  }
  .r-icons {
    margin: 0;
    margin-top: 50px;
  }
  .r-icons div {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .r-fotdown p {
    display: none;
  }
  .r-fot .list-resp {
    color: white;
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .list-resp {
    display: none;
  }
}
@media (max-width: 992px) {
  .c-top h1 {
    text-align: center;
    margin: 0;
    margin-top: 50px;
  }
  .c-top h3 {
    text-align: center;
    margin: 0;
    margin-top: 50px;
  }
  .r-icons {
    padding-left: 0;
    margin-top: 50px;
  }
  .r-icons p {
    font-size: 12px;
  }
  .r-icons div {
    margin: auto;
  }
  .r-mid {
    margin-top: 25px;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  #rmid-sx {
    margin-top: 30px;
  }
  #rmid-dx {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .r-icons p {
    font-size: 8px;
  }
}
